{% extends "admin/change_list.html" %}
{% block object-tools-items %}
  {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'export_data_json' %}" class="button" style="background-color: #0d6efd; color: white; font-weight: bold;">
        📥 データバックアップ (JSON)
      </a>
    </li>
    <li>
      <a href="{% url 'export_data_csv' %}" class="button" style="background-color: #198754; color: white; font-weight: bold;">
        📥 データバックアップ (CSV)
      </a>
    </li>
  {% endif %}
  {{ block.super }}
{% endblock %}
